@use '../../styles/01-tools/mixins' as mix;

.tarifas {
  &__intro {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    gap:            var(--space-16);
    padding:        var(--space-48) var(--space-24) var(--space-32);
    text-align:     center;
  }

  &__titulo {
    @include mix.titulo-pagina;
  }

  &__subtitulo {
    @include mix.subtitulo-pagina;
    max-width:   72.625rem;
  }

  &__contenido {
    display:         flex;
    justify-content: center;
    padding:         0 var(--space-24) var(--space-64);
  }

  @media (max-width: 767px) {
    &__intro {
      padding: var(--space-24) var(--space-16) var(--space-16);
    }

    &__titulo {
      font-size: var(--text-40);
    }

    &__subtitulo {
      font-size: var(--text-16);
    }

    &__contenido {
      padding: 0 var(--space-8) var(--space-32);
    }
  }
}
