@use '../01-tools/mixins' as mix;

.botones-menu-hamburguesa {
  @include mix.no-mobile {
    display: none;
  }
  display:          flex;
  flex-direction:   column;
  gap:              var(--space-16);
  padding:          var(--space-8);
  background-color: var(--color-primary);
  width:            100%;

  .btn-desplegable-hamburguesa {
    width:     100%;
    max-width: none;
    align-self: stretch;
  }
}
