.cabecera-tablas-tarifas {
  display:     flex;
  flex-wrap:   wrap;
  align-items: flex-start;
  width:       48rem; // 8×6rem = 768px
}

.cabecera-tablas-tarifas-navieras {
  display:     flex;
  align-items: flex-end; // columna naviera baja hasta la última fila
}
