.entrada-datos-login {
  display:        flex;
  flex-direction: column;
  gap:            0.4375rem; // 7px
  width:          100%;
  max-width:      16.3125rem; // 261px

  .input {
    width:   100%;
    display: flex;
  }
}

.entrada-datos-registro {
  display:        flex;
  flex-direction: column;
  gap:            0.25rem; // 4px
  width:          100%;
  max-width:      16.3125rem; // 261px

  .input {
    width:   100%;
    display: flex;
  }
}
