.fila-naviera-tarifas {
  display:     flex;
  align-items: stretch;

  .celda-tabla--naviera .celda-tabla__texto {
    font-size: var(--text-12);
  }

  .celda-tabla--naviera .celda-tabla__input {
    font-size: var(--text-12);
  }

  &__celdas {
    display:     flex;
    align-items: stretch;
  }
}
